.App {
  min-height: 100vh;
  height: 100%;
  background-color: var(--bg);
  overflow: hidden;
}

.app__header {
  padding: 3rem 1.25rem;
}

.app__form label {
  font-size: 2rem;
  font-weight: 700;
  margin-right: 2rem;
}

.app__form button,
.app__form input {
  font-size: 1.5rem;
  padding: .5rem;
  border: none;
  outline: none;
}

.app__form input.error {
  border: 2px solid red;
}

.app__form button {
  padding: 0.5rem 1rem;
  color: var(--white);
  cursor: pointer;
}

.app__body {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
}